/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* TYPOGRAPHY */
body {
    font-size: 16px;
    font-family: ;
}

/* BODY */
.container {
    height: 100vh;
    display: flex;
    background: #F0EFE9;
}

.todo-wrapper {
    height: 600px;
    width: 400px;
    margin: auto;
    padding: 50px;
    background: #fff;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {
    margin-top: 50px;
}
.todo-list li::first-letter {
    text-transform: uppercase;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(  -50%);
}
footer button {
    display: block;
    margin: auto;
}
