/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* TYPOGRAPHY */
body {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}
p {
    font-size: 0.8rem;
}
.p--date {
    display: inline-block ;
    font-size: 1.5rem;
}

/* BODY */
.container {
    height: 100vh;
    display: flex;
    background: #ffca3a;
}
.todo-wrapper {
    height: 600px;
    width: 450px;
    margin: auto;
    background: #F4F4F4;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}
header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px 25px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
main {
    height: calc(75% - 25px);
    margin-top: 25px;
    overflow-y: auto;
}
.todo-list li::first-letter {
    text-transform: uppercase;
}
.todo-list li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 25px;
}
.todo-list li:last-child {
    border-left: 4px solid #0496ff;
    padding-left: 21px;
}
.todo-list li p {
    display: inline-block;
    width: calc(100% - 50px);
    text-align: left;
}
.todo-list li button {
    cursor: pointer;
    border: none;
    background: transparent;
}
.todo-list li button img {
    height: 25px;
    width: 25px;
}
footer {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
footer > input {
    width: 80%;
    height: 25px;
    border: none;
    outline: none;
}
footer > button {
    border: none;
    background: transparent;
    color: #0496ff;
    cursor: pointer;
    outline: none;
}
