<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>vue-todolist</title>
</head>
<body>
    <div id="root" class="container">

        <div class="todo-wrapper">
            <!-- Header -->
            <header>
                <div class="date">
                    <p>{{ weekday[time.getDay()] }}, </p>
                    <p>{{ time.getDate() }}th</p>
                    <p class="small">{{ month[time.getMonth()] }}</p>
                </div>
                <div class="counter">
                    <p> {{ tasks.length }} Tasks</p>
                </div>
            </header>
            <!-- /Header -->

            <!-- Main -->
            <main>
                <div class="todo-list">
                    <ul>
                        <li v-for="(task, index) in tasks">
                            {{ task }}
                            <button @click="deleteTask(index)">done </button>
                        </li>
                    </ul>
                </div>
            </main>
            <!-- /Main -->

            <!-- Footer -->
            <footer>
                <input @keyup.13="addTask" v-model="newTask" type="text" placeholder="Inserisci nuova task">
                <button @click="addTask">Add</button>
            </footer>
            <!-- /  Footer -->
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>