<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>vue-todolist</title>
</head>
<body>
    <div id="root">
        <!-- Main -->
        <main>
            <div class="todo-wrapper">
                <div class="todo-list">
                    <ul>
                        <li v-for="(task, index) in tasks">
                            {{ task }}
                            <button @click="deleteTask(index)">remove</button>
                        </li>
                    </ul>
                </div>

                <input @keyup.13="addTask" v-model="newTask" type="text" placeholder="Inserisci nuova task">
                <button @click="addTask">Add</button>
            </div>
        </main>
        <!-- /Main -->
    </div>

    <script src="js/script.js"></script>
</body>
</html>